<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzq.advance.mapper.TGoodsLinkMapMapper" >
  <resultMap id="BaseResultMap" type="com.kzq.advance.domain.TGoodsLinkMap" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="num_iid" property="numIid" jdbcType="VARCHAR" />
    <result column="goods_count" property="goodsCount" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sku_id, goods_id, num_iid, goods_count, end_time, start_time
  </sql>
  <select id="selectBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_link_map
    where sku_id = #{skuId,jdbcType=VARCHAR} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_goods_link_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kzq.advance.domain.TGoodsLinkMap" >
    insert into t_goods_link_map (id, sku_id, goods_id, 
      num_iid, goods_count, end_time, 
      start_time)
    values (#{id,jdbcType=INTEGER}, #{skuId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, 
      #{numIid,jdbcType=VARCHAR}, #{goodsCount,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kzq.advance.domain.TGoodsLinkMap" >
    insert into t_goods_link_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="goodsCount != null" >
        goods_count,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="numIid != null" >
        #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null" >
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateBySkuIdSelective" parameterType="com.kzq.advance.domain.TGoodsLinkMap" >
    update t_goods_link_map
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="numIid != null" >
        num_iid = #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null" >
        goods_count = #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sku_id = #{skuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kzq.advance.domain.TGoodsLinkMap" >
    update t_goods_link_map
    set sku_id = #{skuId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      num_iid = #{numIid,jdbcType=VARCHAR},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>