<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzq.advance.mapper.TNewTradesMapper" >
  <resultMap id="BaseResultMap" type="com.kzq.advance.domain.TNewTrades" >
    <id column="tid" property="tid" jdbcType="BIGINT" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="receiver_state" property="receiverState" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="receiver_country" property="receiverCountry" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="receiver_town" property="receiverTown" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="post_fee" property="postFee" jdbcType="VARCHAR" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="VARCHAR" />
    <result column="trade_from" property="tradeFrom" jdbcType="VARCHAR" />
    <result column="buyer_memo" property="buyerMemo" jdbcType="VARCHAR" />
    <result column="seller_memo" property="sellerMemo" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="seller_nick" property="sellerNick" jdbcType="VARCHAR" />
    <result column="is_refund" property="isRefund" jdbcType="TINYINT" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <collection column="tid" property="tNewTradesOrders" select="getOrders"></collection>
  </resultMap>


  <sql id="Base_Column_List" >
    tid, receiver_address, status, receiver_name, payment, receiver_state, receiver_city,
    receiver_district, receiver_country, receiver_mobile, receiver_phone, receiver_town,
    created_time, modify_time, pay_time, pic_path, post_fee, buyer_nick, title, total_fee,
    trade_from, buyer_memo, seller_memo, shop_id, seller_nick, is_refund, is_del, del_time
  </sql>

  <sql id="TNewTradeOrder_Column_List" >
    oid, pic_path, sku_properties_name, tid, refund_status, status, title, num, num_iid,
    payment,sku_id
  </sql>

  <select id="getOrders" resultMap="TNewTradesOrderResultMap" parameterType="java.lang.String">
    select <include refid="TNewTradeOrder_Column_List" /> from t_new_trades_order where tid=#{tid}
  </select>

  <select id="getTrades" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_new_trades where shop_id=#{shopId} and status='0' or status = '5'
  </select>


  <resultMap id="TNewTradesOrderResultMap" type="com.kzq.advance.domain.TNewTradesOrder" >
    <id column="oid" property="oid" jdbcType="BIGINT" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="sku_properties_name" property="skuPropertiesName" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="CHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="num_iid" property="numIid" jdbcType="CHAR" />
    <result column="payment" property="payment" jdbcType="DECIMAL" />
    <result column="sku_id" property="skuId" jdbcType="VARCHAR" />
  </resultMap>
  
  
</mapper>